.header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.grovemade{
    margin: 0px 589px;
}

.vector1{
    text-align: center;
    padding-top: 10px;
    
}

.header_s{
    margin: 0 28px;
}

.vector{
    margin: 0 auto;
    text-align: center;
}

.g{
    margin: 0 auto;
}

.header_s{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

a{
    text-decoration: none;
}

.header_e{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

.header_my{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

.thedesk{
    background: url('img/desk.jpg' ) center center/cover no-repeat;
    height: 504px;
    margin: 30px -16px auto;
    
}

.home{
    background: url('img/home.jpg' ) center center/cover no-repeat;
    height: 504px;
    margin: 30px -16px auto;
}

.container{
    width: 1000px; 
    margin: 0 auto;
}

.text_title{
    width: 440px;
    height: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px auto;
    padding-top: 219px;
}

.sub_title{
    height: 18px;
    left: calc(50% - 211px/2 - 0.04px);
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    margin: 66px auto;
}

.mini_sub_title{
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 28px auto;
}

.title_desing{
    height: 58px;
    left: calc(50% - 297px/2 + 0.5px);
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin: 80px auto;
}

.sub_title_desing{
    height: 24px;
    left: calc(50% - 481px/2 - 0.5px);
    top: 81px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    margin: 69px auto;
}

.getstarted{
    height: 21px;
    left: calc(50% - 100px/2);
    top: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 26px auto;
}



.grid_desing{
    margin: 0px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,520px);
    justify-content: center;
}

.img_deskpads{
    width: 500px;
}

.img_laptop{
    width: 500px;
}

.title_pads{
    margin: 48px auto;
    text-align: center;
    height: 30px;
    left: calc(50% - 128px/2 + 0.25px);
    top: -2.53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 30px;
    color: #000000;
}

.learnmore{
    text-align: center;
    margin: 23px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

.walunt{
    width: 310px;
    height: 434px;
}

.carousel{
    margin: 0 auto;
    text-align: center;
    width: 1164px;
}


.carousel-control-next-icon{
    background-color: black;
}

.carousel-control-prev-icon{
    background-color:black;
}

.device{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}

.price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    left: calc(50% - 7px/2 - 22.5px);
    top: 8.88px;
    background: #000000;
    
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    margin: 496px;
}

.make_grid{
    display: grid;
    margin: 10px 134px;
    grid-template-columns: repeat(auto-fit,219px);
    justify-content: start;
    row-gap: 28px;
}